* {
    font-family: 'Times New Roman', Times, serif;
}

body {
    background-color: gray;
    margin: 30px;
}

.back-light {
    background-color: rgb(150, 149, 149);
    border-style: solid;
    border-width: 1px;
    border-color: black;
}

h1 {
    text-align: center;
    margin: 0;
}

li {
    font-size: 23px;
    padding: 10px;
    margin: 10px;
}

footer {
    text-align: right;
    padding: 10px;
    display: block;
}